/* title font */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Caveat Brush', cursive;*/
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Bangers', cursive; */
/* font-family: 'Playball', cursive; */
/* font-family: 'Marck Script', cursive; */
/* font-family: 'Oleo Script', cursive; */
/* font-family: 'Italianno', cursive; */
/* font-family: 'Courgette', cursive; */
/* font-family: 'Lobster', cursive; */

/* content font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* font-family: 'Source Sans Pro', sans-serif; */
button,
input,
div,
span {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
}

body {
  background-image: url("/backgroundImage/1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  /* background: url("/backgroundImage/9.jpg") no-repeat center center fixed; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/*-------------------------옵션버튼(공통사항)--------------------------*/
#option-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 21px;
  color: gray;
  border: 0;
  background-color: transparent;
}

#option-modal {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 200px;
  /* width: 100px; : 중앙선 */
  height: 280px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  /*(모바일에서 로그인폼과 겹칠때만) 모달창 열리면 section에 opacity:0.2 하는식으로해서 계층디자인 완성하기*/
}
#user-name {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 25px;
}
#app-font-color {
}
#app-font-black,
#app-font-white {
  position: absolute;
  top: 113px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 5px;
}
#app-font-white {
  right: 130px;
  background-color: white;
}
#app-font-black {
  right: 81px;
  background-color: black;
}
#app-font-black:hover,
#app-font-white:hover {
  cursor: pointer;
  border: 1px solid lightgray;
}

#background-image {
  position: absolute;
  top: 170px;
  right: 102px;
  color: #ffffff;
  opacity: 0.7;
  font-size: 40px;
}
#background-image:hover {
  cursor: pointer;
  opacity: 1;
}
#login,
#logout {
  position: absolute;
  top: 230px;
  right: 46px;
  width: 150px;
  height: 30px;
  border: 0;
  border-radius: 10px;
}
#login:hover,
#logout:hover {
  cursor: pointer;
}
/* #logout {
  display: none;
} */
#contact-me {
  position: absolute;
  top: 280px;
  right: 57px;
  color: white;
  font-size: 15px;
  text-align: center;
}
#contact-me-title {
  margin-bottom: 3px;
  color: white;
  opacity: 0.7;
}
.contact-me-element {
  position: relative;
  right: 5px;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  background-color: transparent;
  border: 0;
}
.contact-me-element:hover {
  cursor: pointer;
}
#my-blog:hover,
#my-github:hover,
#my-email:hover {
  opacity: 1;
}
#background-image-modal {
  /* display: none; */
  position: absolute;
  top: 220px;
  right: 30px;
  width: 264px;
  height: 340px;
  border: 1px solid pink;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.background-image-button {
  padding: 0px;
  border: 0;
  margin: 5px;
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 10px;
}
.background-image-button:hover {
  opacity: 0.5;
}
.section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}
.title {
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Caveat Brush", cursive; */
  /* font-family: "Bangers", cursive; */
  /* font-family: "Marck Script", cursive; */
  /* font-family: "Oleo Script", cursive; */
  /* font-family: "Italianno", cursive; */
  /* font-family: 'Lobster', cursive; */
  /* font-family: "Courgette", cursive; */
  /* font-family: "Playball", cursive; */
  font-family: "Kaushan Script", cursive;

  font-size: 35px;
  color: white;
  text-align: center;
}
form {
  /* login,signup 통합 */
  position: relative;
  top: -20px;
}
.form-input {
  /* login,signup의 인풋태그 */
  position: relative;
  top: 20px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #ffffff80;
  color: white;
  background-color: transparent;
}
.form-input::-webkit-input-placeholder {
  color: #ffffff50;
}
.form-button {
  position: relative;
  top: 40px;
  margin: 5px;
  border: 0;
  color: white;
  background-color: transparent;
}
#login-submit,
#signup-submit {
  width: 185px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  color: black;
  background-color: white;
  cursor: pointer;
  /* font-family: "Kaushan Script", cursive; */
}
/*-------------------------⬇︎ login-컨텐트영역-------------------------*/

#login-section {
  width: 200px;
  height: 300px;
}

#login-id {
  /* login과 signup의 인풋을 클래스로 묶어서 위에 공통태그로 구현 */
  margin-bottom: 30px;
}
/* .form-button : login과 signup의 버튼을 form-button클래스로 통합 */

#login-submit {
  /* font-family: "Kaushan Script", cursive; */
  /* login-submit,signup-submit 통합  */
}
#login-home,
#login-signup {
  opacity: 0.6;
  width: 55px;
  cursor: pointer;
}
#login-home:hover,
#login-signup:hover,
#what-is-glass-note:hover {
  opacity: 1;
}
#what-is-glass-note {
  opacity: 0.6;
  left: 3px;
  cursor: pointer;
}

/*-------------------------⬇︎ SIGN UP-컨텐트영역-------------------------*/

#signup-section {
  width: 250px;
  height: 450px;
}
/* .signup-form  : .login-form과 통합 */
#signup-id,
#signup-password,
#signup-password-check,
#signup-email,
#signup-phone-number,
#signup-birthday {
  font-size: 14px;
  margin-bottom: 20px;
}
/* .form-button : login과 signup의 버튼을 form-button클래스로 통합 */

#signup-submit {
  /* login-submit,signup-submit 통합  */
  /* font-family: "Kaushan Script", cursive; */
  margin-top: 0px;
}
#signup-home,
#signup-login {
  opacity: 0.6;
  width: 55px;
  cursor: pointer;
}
#signup-home:hover,
#signup-login:hover {
  opacity: 1;
}

/* opacity변경부분 */
.section {
  /* opacity: 0.1; */
}
.option-modal {
  opacity: 0.1;
}
#background-image-modal {
  opacity: 0.1;
}
/* 흰검변경텍스트 */

/* 1. 디자인완성, 자바스크립트완성, 그다음페이지 */
/* 1.[완료] 로그인과 회원가입 컨텐트에 같은 클래스, 아이디 있는지 확인하고 각자 따로 구현해주기 + css에서 개별적용해야하므로 태그속성자는 클래스나 아이디로 바꾸기 */
/* 2. 흰색/ 검정색으로 변경해야되는 부분, 찾아서 정리하기 (각html별로 조사)  */
/* 3. [완료]모달창열리면 opacity값 조절하는 조건생각해보기 (모바일상태일때만 조절하기, 조절해야하는값들은 뭐뭐있음?) */
/* 4. 어울리는 폰트 정하기 */
